<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>registerMedico</servlet-name>
        <servlet-class>control.registerMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginClients</servlet-name>
        <servlet-class>control.loginClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>funck</servlet-name>
        <servlet-class>control.funck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerImg</servlet-name>
        <servlet-class>control.ControllerImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCita</servlet-name>
        <servlet-class>control.ControllerCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEspecial</servlet-name>
        <servlet-class>control.ControllerEspecial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioControl</servlet-name>
        <servlet-class>control.HorarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>control.registerUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerMedico</servlet-name>
        <url-pattern>/registerMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginClients</servlet-name>
        <url-pattern>/loginClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>funck</servlet-name>
        <url-pattern>/funck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerImg</servlet-name>
        <url-pattern>/ControllerImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCita</servlet-name>
        <url-pattern>/ControllerCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEspecial</servlet-name>
        <url-pattern>/ControllerEspecial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioControl</servlet-name>
        <url-pattern>/HorarioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
</web-app>
